*/stanford_cars
lm-trial/models/
lm-trial/tokenizers/
models/
tokenizers/
flickr8k/
flickr30k/
building/
*.pickle
summary.txt
summary2.txt
*.png
*.jpg
*.jpeg
*.zip.*
train2014.zip
stashed_output
captions.txt