*/stanford_cars
lm-trial/models/
lm-trial/tokenizers/
models/
tokenizers/
flickr8k/
building/
image_all_final.pickle
text_all_final.pickle
image_all_final.pickle.zip
text_all_final.pickle.zip
captions.txt